.container {
  padding: 10px;
  
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 500px;
  max-width: 500px;
  height: 450px;
  max-height: 450px;
}
.centered {
  margin-top: 15%;
  text-align: center;
  padding: 10px;
}

.population {
  padding: 10px;
  border: 0.5px solid #000000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 300px;
  max-width: 300px;
  height: 100px;
  max-height: 100px;
}

.buttonList {
  flex-direction: column;
  text-align: center;
}

.errorMessage {
  color: red;
}

.logo:hover {
  cursor: pointer;
  color: rgb(102, 101, 101);
}
.input {
  width: 400px;
}
.searchButton{
 margin: 10px;
}
.logoMain{
  text-align: center;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cityResult {
 margin: 15px;
}
