
.centered {
  text-align: center;
  padding: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  max-width: auto;
  height: auto;
  max-height: auto;
}
p{
  font-size: 17px;
}
.popRes{
  font-size: 17px;
  margin:5px;
  padding: 5px;
}

.population {
  margin:5px;
  padding: 5px;
  border: 0.5px solid #000000;
  width: 300px;
  max-width: 300px;
  height: 100px;
  max-height: 100px;
}

.buttonList {
  flex-direction: column;
  text-align: center;
}

.errorMessage {
  color: red;
}

.logo:hover {
  cursor: pointer;
  color: rgb(102, 101, 101);
}
.input {
  width: 400px;
}
.searchButton{
 margin: 5px;
}
.logo{
  text-align: center;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
 
  padding: 10px;
}
.cityResult {
 margin: 10px;
 padding: 10px;
}
.countryResult{
  margin: 15px;
  padding: 10px;
}

.welcomeButtons{
  flex-direction:row;
  text-align: center;
}
